html, body {
    height: 100%; /* Ensure both html and body cover the full height of the viewport */
    min-height: 100vh; /* Use viewport height as a minimum to cover the full viewport */
    
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../assets/bg.jpg');
    background-size: cover;
    background-position: 99% 60%;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    position: relative;
}

body::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6); 
    z-index: 0; 
}

* {
    position: relative;
    z-index: 1;
}


header {
    background: linear-gradient(to bottom, #8e8b96, transparent); 
    color: #333;
    padding: 0;
    position: relative;
    z-index: 1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#bank-icon {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    padding: 0;

}

nav {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0;

}

nav p#bank {
    margin-right: auto; 
    margin-left: 20px;
    font-size: 20px;
}



nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    
}

nav ul li a {
    color: #333;
    text-decoration: none;
    
}

footer {
    background-color: transparent;
    color: #333;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#desc{
    text-align: center;
    margin-top: 20px;
}

#button-container {
    
    text-align: center;
    margin-top: 50px;
}

.button-style {
    width: 400px; 
    height: 50px; 
    font-size: 16px; 
    background-color: rgba(0,0,0,0.1);
    border: none;
    border-radius: 10px;
    margin: 8px;
    
}

    
button:hover {
    background-color: #b6a6da;
    cursor: pointer;
}


#customers-view {
    width: 50%; 
    margin: 0 auto;   
    border-collapse: separate; 
    border-spacing: 0 2px;
    border-radius: 10px; 
    overflow: hidden; 
}

#customers-view, #customers-view th, #customers-view td {
    border: none;
}

#customers-view th, #customers-view td {
    padding: 8px; 
    text-align: center; 
    
}

#customers-view th {
    background-color: #805dd1; 
    color: white; 

}

#customers-view th:first-child, #customers-view td:first-child {
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px; 
}

#customers-view th:last-child, #customers-view td:last-child {
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
}
/* Alternate row background colors */
#customers-view tr:nth-child(odd) {
    background-color: rgba(116, 174, 207, 0.555); 
}

#customers-view tr:nth-child(even) {
    background-color: rgba(221, 221, 221, 0.534); 
}

#customers-view tr:hover {
    background-color: #b6a6da; 
}

.dropdown_name {
    width: 60%; 
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #f8f8f8; 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    color: #333; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    transition: border-color 0.3s, box-shadow 0.3s; 
}

.dropdown_name:focus {
    border-color: #007bff; 
    box-shadow: 0 0 8px rgba(0,123,255,0.2); 
}



.button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 10vh; 
}

#transfer_button {
    width: 100px; 
    height: 50px; 
    font-size: 16px; 
    background-color: rgba(0,0,0,0.1);
    border: none;
    border-radius: 10px;
    margin: 8px;
}

#transfer_button:hover {
    background-color: #b6a6da;
    cursor: pointer;
}
